#  BLENDER
*.blend1
*.blend1.meta
*.blend2
*.blend2.meta
#  DISCORD BOT
.env
.env.*
#  IDE
.vs/**
.idea/**
#  MISC
crashlytics-build.properties
*.lock
mono_crash.*
*.swp
sysinfo.txt
#  NESTED REPOSITORY
**/.git
#  OS
.DS_Store
Thumbs.db
#  UNITY CACHE
/[Ll]ibrary/*
!/[Ll]ibrary/[Pp]ackage[Cc]ache/
/[Ll]ibrary/[Pp]ackage[Cc]ache/*
!/[Ll]ibrary/[Pp]ackage[Cc]ache/com.*/
!/[Ll]ibrary/[Pp]ackage[Cc]ache/com.*/**
/[Oo]bj/**
#  UNITY LOGS/TEMP
.utmp/
/[Ll]ogs/**
/[Mm]emoryCaptures/**
/[Rr]ecordings/**
/[Tt]emp/**
#  UNITY BUILD
/[Bb]uild/**
/[Bb]uilds/**
