#  BLENDER
*.blend1
*.blend1.meta
#  DISCORD BOT
/[Dd]iscordBots/**/.env
#  IDE
.vs/**
.idea/**
#  MISC
crashlytics-build.properties
mono_crash.*
sysinfo.txt
#  NESTED REPOSITORY
**/.git
#  OS
.DS_Store
Thumbs.db
#  UNITY CACHE
/[Ll]ibrary/**
!/[Ll]ibrary/PackageCache/
!/[Ll]ibrary/PackageCache/**
!/[Ll]ibrary/SourceAssetDB
!/[Ll]ibrary/SourceAssetDB-lock
/[Oo]bj/**
#  UNITY LOGS/TEMP
.utmp/
/[Ll]ogs/**
/[Mm]emoryCaptures/**
/[Rr]ecordings/**
/[Tt]emp/**
#  UNITY BUILD
/[Bb]uild/**
/[Bb]uilds/**
