/[Mm]emoryCaptures/**
/[Dd]iscordBots/**/.env
/[Tt]emp/UnityLockfile
/[Tt]emp/FSTimeGet-*
/[Ll]ibrary/ArtifactDB*
/[Ll]ibrary/[Aa]rtifacts/**
/[Ll]ibrary/Bee/[Aa]rtifacts/**
/[Ll]ibrary/PlayerDataCache/**
/[Ll]ogs/**
.vs/**/FileContentIndex/*.vsidx
.vs/**/v17/.suo
